APP_ENV=dev
APP_NAME=APP_NAME

# BASE_URL=https://dev.example.com
# API_BASE_URL=https://api-dev.example.com
# ADMIN_PORTAL_URL=https://admin-dev.example.com

DEFAULT_TIMEOUT_MS=30000
NAVIGATION_TIMEOUT_MS=60000

TARGET_BROWSER=chromium
HEADLESS=true
RECORD_VIDEO=false

FEATURE_LOGIN_USER_EMAIL=
FEATURE_LOGIN_USER_PASSWORD=
